.login_div
{
	background: rgba(255,255,255,0.8);
	float: none;
	border-radius: 15px;
}

.logo
{
	width: 80px;
	margin-top: 30px;
	border-radius: 40px;
}

#login_button
{
	width: 80%;
	border-radius: 15px;
}

	#body{
		background-size: cover;
		background-image: url("https://wallpaperaccess.com/full/253796.jpg");
		color: whitesmoke;
	}

	#log_out{
		font-size: 20px;
		float: right;
	}